
<%= render 'form' %>

<div class="actions">
  <span class="route">
    <%= link_to 'Cancel',  assessment_path(@assessment) %> 
  </span>
  <span class="breadcrumbs f-right">
  <%= link_to 'Assessments', assessments_path %>
  <%= link_to 'Assessment',   assessment_path(@assessment)%> 

  </span>
</div>