<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% end %>
  <li>
      User: 
      <% if current_user %>
        <%= current_user.name_full %>
      <% else %>
        (not logged in)
      <% end %>
  </li>
