<% if user_signed_in? %>
  <li>
  <%= link_to('Edit account', edit_citizen_path(current_user)) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', "/citizen/find")  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
