<p>Hi view job details. Should be ad and all that stuff. I'll throw on in for the heck of it. Click apply below</p>
<div >
  <img src='<%=@stage.ad_url%>' width="500"  />
</div>
<%if user_signed_in?%>

<%= link_to "Apply", apply_job_path(@stage), :class => "route"%>
<% else%>
<span class="annotate">Your must be logged in to apply for this training.</span>
<% end%>