<p>Hi view job details. Should be ad and all that stuff. I'll throw on in for the heck of it. Click apply below</p>
<div >
  <img src='<%=@stage.ad_url%>' width="500"  />
</div>
<%= link_to "Apply", apply_job_path(@stage)%>