hi root

<p>I did an end to end import from 4d just using web services on all job stages that had on-line applications. I only imported scores and users from the first stage and the last two.</p>

<p>Password have been set to "please" for special users (admin, company,project)</p>